body{
  /* The default image has to cover the page */
  background-image: url(../images/defaultImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
input{
  float : right;
  position : relative;
  left : -320px;
  width: 250px;
  height: 30px;
  margin-top: 20px;
}

#search{
  float : right;
  position : relative;
  right : -50px;
  margin-top: 20px;
  height : 35.98px;
  width: 90px;
  background-color: red;
  color : white;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
#content{
  position : fixed;
  left : 18%;
  top : 20%;
  text-align: center;
}
#celcius, #Fahrenheit{
  position: fixed;
  top : 80%;
  height: 50px;
  width: 150px;
  background-color: red;
  color: white;
  font-size: x-large;
  border: none;
  /* we don't want the buttons (celcius an Farenheit) to be shown
  till the user enters a city or country */
  display: none;
  cursor:pointer;
}
#celcius{
  left : 37%;
}
#Fahrenheit{
  left : 47%;
}
span{
  display: none;
}
